---
import Chip from "./Chip.astro";
---

<div class="bg-white rounded-lg shadow-md p-6">
  <h3 class="font-semibold text-lg">Lorem, ipsum.</h3>
  <div class="mb-2">
    <Chip label="plomero" />
  </div>
  <div class="flex items-center gap-4 mb-2">
    <div><a href="tel:12-12341234">12-12341234</a></div>
    <div><a href="mailto:profesional@mail.com">profesional@mail.com</a></div>
  </div>
  <div>
    <strong class="text-sm text-gray-700"> Servicios: </strong>
    <ul class="list-disc list-inside text-sm text-gray-600 ml-2">
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
  </div>
</div>
