---
import { sanityClient } from "sanity:client";
import Header from "../components/Header.astro";
import Card from "../components/Professional.astro";
import Layout from "../layouts/Layout.astro";
// import Search from "../components/Search.astro";

import { type Professional } from "../types";

const professionals: Professional[] = await sanityClient.fetch(`
  *[_type=="professional"]{
    _id,
    name,
    lastname,
    phone,
    email,
    fantasyName,
    services[]->{
      name
    }
  }
`);
---

<Layout title="LuganoConecta">
  <Header />
  <main class="max-w-screen-xl mx-auto text-center md:text-left">
    <!-- <Search /> -->
    <h2 class="text-2xl font-semibold mb-4">Servicios y profesionales</h2>

    <div
      class={`grid grid-cols-1 ${professionals.length ? "md:grid-cols-4" : ""} gap-4 md:gap-6`}
    >
      {
        professionals.length > 0 ? (
          professionals.map((professional) => (
            <Card professional={professional} />
          ))
        ) : (
          <>
            <div
              class="flex items-center justify-center p-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-300"
              role="alert"
            >
              <svg
                class="flex-shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="sr-only">Info</span>
              <div>No se encontraron servicios o profesionales</div>
            </div>
          </>
        )
      }
    </div>
  </main>
</Layout>
