<header class="mb-8 flex flex-col items-center relative">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-purple-600">LuganoConecta</h1>
    <p class="text-gray-600 mt-2">
      Encuentra profesionales de confianza en tu barrio
    </p>
  </div>
  <!-- <button
      onClick={() => setDarkMode(!darkMode)}
      class="p-2 rounded-full bg-gray-200 absolute top-0 right-0"
    >
      {
        darkMode ? (
          <Sun class="text-yellow-400" />
        ) : (
          <Moon class="text-gray-700" />
        )
      }
    </button> -->
</header>
