---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Chip from "../components/Chip.astro";
import Card from "../components/Professional.astro";
---

<Layout title="LuganoConecta">
  <Header />
  <main class="max-w-4xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Profesionales Registrados</h2>
    <section class="space-y-3">
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
    </section>
  </main>
</Layout>
